<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Celular App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/bootstrap/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!--STYLES END-->
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span>MENU</span>
          </button>
          <a class="navbar-brand" href="#">Celular App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/Inicio">Inicio</a></li>
            <li><a href="/CrearCelular">Crear Celulares</a></li>
            <li><a href="/ListarCelular">Lista de Celulares</a></li>
            <li><a href="/CrearAplicacion">Crear Aplicaciones</a></li>
            <li><a href="/ListarAplicacion">Lista de Aplicaciones</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%- body %>
    </div>

    <script type="text/javascript" src="/jst.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
