<h1>Bienvenidos a Celular App</h1>

<div row class="container">
  <div class="jumbotron col-sm-5">
    <h1>Celulares</h1>
    <p>Registrar Celulares</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearCelular" role="button">Registrar Celular</a>
      <a class="btn btn-primary btn-lg" href="/listarCelular" role="button">Listar Celulares</a></p>
  </div>

  <div class="col-sm-1"> </div>
    <div class="jumbotron col-sm-6">
      <h1>Aplicaciones</h1>
      <p>Registrar Aplicaciones</p>
      <p><a class="btn btn-primary btn-lg" href="/CrearAplicacion" role="button">Registrar Aplicaciones</a> <a
        class="btn btn-primary btn-lg" href="/listarAplicacion" role="button">Listar Aplicaciones</a></p>
    </div>
</div>
